---
import type { CollectionEntry } from "astro:content";
import { createExcerpt } from "../utils/create-excerpt";
import Date from "./Date.astro";

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<div class="post">
  <Date datetime={post.data.date} />
  <h3 class="post-title"><a href=`/posts/${post.slug}`>{post.data.title}</a></h3>
  <p>{`${createExcerpt(post.body).substring(0, 300)}...`}</p>
  <br />
</div>
