---
import { Icon } from 'astro-icon/components';
---
<div>
  <h2 class="heado"><a class="heady" href="/">Robots Have Feelings</a></h2>
  <div class="nav-links">
    <a href="/about/">About</a>
    <a href="/tags/">Tags</a>
    <a href="https://github.com/bearlock"><Icon name="mdi:github" /></a>
    <a href="https://linkedin.com/in/bearlock"><Icon name="mdi:linkedin" /></a>
    <a href="/rss.xml"><Icon name="mdi:rss" /></a>
  </div>
  <hr />
</div>
